<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="http://adminlte.io">Hải | Thịnh | Sinh</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="/backend/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/backend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="/backend/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/backend/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/backend/dist/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="/backend/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/backend/plugins/raphael/raphael.min.js"></script>
<script src="/backend/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/backend/plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="/backend/plugins/chart.js/Chart.min.js"></script>

<!-- Summer note-->
<script src="/backend/plugins/summernote/summernote.min.js"></script>
<!-- PAGE SCRIPTS -->
<script src="/backend/dist/js/pages/dashboard2.js"></script>
<script>
  $(document).ready(function() {
  $('#summernote').summernote();
});
</script>