<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/headerCSS')%>

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%-  include('../includes/header')%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-  include('../includes/sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="header-edit">
          <div class="title-header">Thêm mới nhân viên</div>
          <div><a href="/users/list"><i class="fas fa-arrow-left"></i></a></div>
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid create-container">
        <div>
            <form action="/users/store" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Tên nhân viên</label>
                  <input type="text" name="name" class="form-control" placeholder="Điền tên nhân viên...">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" placeholder="Điền email nhân viên...">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Số điện thoại</label>
                    <input type="text" name="phone" class="form-control" placeholder="Điền số điện thoại....">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Địa chỉ</label>
                    <input type="text" name="address" class="form-control" placeholder="Điền địa chỉ....">
                  </div>

                <div class="mb-3">
                  <label for="exampleInput2" class="form-label">Mật khẩu</label>
                  <input type="text" name="password" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleInput2" class="form-label">Vai trò</label>
                  <select name="role" id="">
                      <option value="Quản trị viên">Quản trị viên</option>
                      <option value="Nhân viên">Nhân viên</option>
                  </select>
                </div>
                <div class="custom-file mb-3">
                  <input type="file" name="avatar" class="custom-file-input avatar" id="validatedCustomFile" required onchange="previewFile(this)">
                  <label class="custom-file-label" for="validatedCustomFile">Chọn ảnh đại diện</label>
                </div>
                <div>
                  <img class="previewImg"src="http://aimory.vn/wp-content/uploads/2017/10/no-image.png" alt="" id="displayImg1" width="15%">
                </div>
                <button type="submit" class="btn btn-primary btn-active-create">Thêm mới</button>
              </form>

            
        </div>
        <!-- /.row -->

      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('../includes/footer')%>
  <!-- <script>
    function previewFile(input){
      var file = $('.avatar').get(0).files[0];
      if(file){
        var reader = new FileReader();
        reader.onload = function(){
            $('.previewImg').attr("src",reader.result);
        }
        reader.readAsDataURL(file);
      }
    }
  </script> -->
</body>
</html>
