<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Thank you</title>
        <%- include('../layouts/head') %>
            <!-- Thư viện và CSS Import ở dưới -->
            <style>
                .breadcrumb {
                    padding: 30px;
                    flex-direction: column;
                    position: relative;
                    text-align: center;
                }

                .breadcrumb::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    bottom: 0;
                    background-image: linear-gradient(transparent, #fff);
                }

                .breadcrumb-text {
                    position: relative;
                    z-index: 1;
                    font-weight: 300;
                }

                .breadcrumb-text a {
                    color: #000;
                    text-decoration: none;
                }

                .breadcrumb-text a:hover {
                    color: #d39e3c;
                }
            </style>
    </head>

    <body>
        <%- include('../layouts/header') %>

            <div class="main-content">
                <div class="breadcrumb d-flex justify-content-center align-items-center"
                    style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                    <h1 class="breadcrumb-text"> Lịch đặt hẹn của bạn </h1>
                    <p class="breadcrumb-text"><a href="/">Trang chủ</a>&nbsp; / &nbsp;Đặt lịch</p>
                </div>
            </div>
            <div class="container mt-5 mb-5 text-center">
                <h1 class="text-success"><b>Chúc mừng!</b></h1>
                <br>
                <h2 class="text-warning"><b>Thông tin lịch đặt hẹn đã thành công.<br>Nhân viên sẽ gọi điện cho bạn sau ít phút.</b></h2>
                <br>
                <h1 class="text-danger"><b>Cảm ơn bạn!</b></h1>
                <br>
                <p><a href="http://localhost:3000/booking/review">Tại đây</a> để xem lịch đặt hẹn của bạn
                </p>

            </div>
            <%- include('../layouts/footer') %>
    </body>

</html>